@font-face {
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 400;
	src: local('InstrumentSans-Regular');
}

@font-face {
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 700;
	src: local('InstrumentSans-Bold');
}

@font-face {
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 600;
	src: local('InstrumentSans-SemiBold');
}
